<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">foto</th>
            <!-- <th scope="col">id</th> -->
        </tr>
    </thead>
    <tbody id="tabla">
        <% if (productos.length === 0) { %>
            <tr>
                <td colspan="3" style="color: red;">No hay datos</td>
            </tr>
        <% }else{ %>
        <% productos.forEach(function(producto) { %>
        <tr>
            <td><%= producto.title %></td>
            <td><%= producto.price %></td>
            <td><img width="77" height="77" src=<%= producto.thumbnail %>></td>
            <!-- <td><%= producto.id %></td> -->
        </tr>
        <% }); } %>
    </tbody>
</table>
