<!-- <% if (messages.length === 0) { %>
    <div>
        <strong>Aun no hay mensajes</strong>:
        <em></em>
    </div> -->
        <!-- <% }else{ %>
        <% messages.forEach(function(message) { %> -->
        <div id="messages">
            <strong style="color: blue;"><%= message.author %></strong>
            <em style="color:brown">[<%= hoy %> <%= hora %>]</em>:
            <em style="color: green; "><%= message.text %></em>
        </div>
<!-- <% }); } %> -->
